<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ImageController</servlet-name>
        <servlet-class>controller.ImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GalleryController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PictureController</servlet-name>
        <servlet-class>controller.PictureController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactController</servlet-name>
        <servlet-class>controller.ContactController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageController</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GalleryController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PictureController</servlet-name>
        <url-pattern>/picture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactController</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>serverName</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>serverPort</param-name>
        <param-value>1433</param-value>
    </context-param>
    <context-param>
        <param-name>dbName</param-name>
        <param-value>photographer</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>image</param-name>
        <param-value>images\</param-value>
    </context-param>
</web-app>
