
.gallery-big-image img{
    width: 750px;
}
.gallery-big-image{
    width: 100%;
    display : none;
}

.gallery-list-container{
    width: 750px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 10px;
}

.name{
    color: white;
    font-size: 24px;
}


.gallery-item{
    display: flex;
    position: relative;
    width: 175px;
    height: 175px;
    background-color: white;
    border-radius: 7px;
    margin-bottom: 10px;
}


.gallery-item img{
    margin: auto;
    width: 150px;
}

.gallery-item:not(:nth-child(4n)){
    margin-right: 16px;
}

.paging a{
    text-decoration: none;
}

.active{
    text-decoration: underline !important;
    color: yellow !important;
}




