/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 20, 2021, 3:00:14 PM
    Author     : QuyenNV
*/
.gallary img{
    width: 100%;
}

.col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    position: relative;
}

.gallery{
    margin-right: 50px; 
    float: left;
    margin-bottom: 50px;
}


.titleGallery{
    color: white;
    font-size: 30px;
}

.viewGallery{
    color: white;
    font-size: 25px;
}

.mySlides {
    width: 700px;
    height: 465px;
    overflow: hidden;
}


.slide{
    margin-top: 30px;
    margin-bottom: 50px;
}

.bgPicture .imageItem {
    width: 142px;
    height: 95px;
    overflow: hidden;
}


.imageItem{
    margin: 15px 10px 10px 10px;
}